body
{
    background-image: url('./images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(218, 28%, 13%);
    font-family: Open+Sans;
    
}
.bg
{
    background-color: hsl(217, 28%, 15%);
}
#nav-bar
{
    position: fixed;
    height: 20px;
    width: 100%;
top: 0;
left: 0;
padding: 30px 0px;
display: flex;
z-index: 0;
background-color: hsl(218, 28%, 13%);
}
#img-1
{
  
    height: 40px;
    padding-left: 30px;
    z-index: 0;
}
#links
{
    flex-direction: column;
    width: 85%;

}
#nav-link
{
    line-height: -20px;
    padding: 0px 20px 20px 0px;
    color:  hsl(0, 0%, 81%);
    text-decoration: none;
    border: none;
}
#nav-link:hover
{
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
}
 li
{
    float: right;
}
#img-2
{
    margin-top: 70px;
    padding-left: 23%;
}
#texts
{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 7px;
    font-weight: 700;
    font-family: Raleway;
}
#texts-2
{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    line-height: 20px;
    word-spacing: 1px;
    font-weight: 400;
}
#texts-2 a{
    z-index: 5;
}
.button-1
{
    background-color: hsl(198, 60%, 50%);
    border: none;
    text-align: center;
    padding: 10px 15px;
    width: 200px;
position: absolute;
left: 42.5%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
color: hsl(0, 0%, 100%);
font-size: 15px;
z-index: 0;
}
.button-1:hover
{
    background-color:  hsl(176, 68%, 64%);
    z-index: 0;
}
#features
{
padding: 10% 20%;
}
#containers
{
    display: flex;
}
#container-1
{

padding-left: 40px;
}
#container-2
{

padding-left: 80px;
}
.container
{
width: 300px;
height: 300px;
color: hsl(0, 0%, 100%);
}
.container img
{
    margin-left: 100px;
}
.texts-3
{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: 700;
    font-family: Raleway;
}
.texts-4
{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 400;
    margin-top: -25px;
}
#teams
{
    margin-top: -10%;
    display: flex;
}
#section
{
  padding-left: 80px;
  padding-top: 100px;
}
#img-3
{
    width: 45%;
    padding-left: 90px;
}
#texts-5
{
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    font-weight: 700;
    font-family: Raleway;
}
.texts-6
{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 400;
    width: 32vw;
}
#texts-7
{
    color:  hsl(176, 68%, 64%);
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 5px;
    display: contents;
}
#texts-7:hover
{
    color: hsl(0, 0%, 100%);
    
}

#testimonies
{
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 200px;
}
#quotes
{
 padding: 55px 0px 0px 80px;   
}
.container-2
{
    margin-top: -120px;
    margin-left: 92px;
    width: 270px;
    color:  hsl(0, 0%, 100%);
flex-direction: column;
background-color: hsl(219, 30%, 18%);
padding: 25px 25px 15px 25px;
font-size: 14px;
line-height: 25px;
border-radius: 6px;
}
.texts-8
{
    line-height: 5px;
    color:  hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: 700;
font-family: Raleway;
}
.texts-9
{
   line-height: 5px;
    color:  hsl(0, 0%, 100%);
    font-size: 14px;
}
.profile
{
    border-radius: 50%;
    width: 20%;
    padding: 10px;
    float: left;
}

#sign-in
{
    width: 50%;
    height: 250px;
   background-color: hsl(217, 28%, 15%);
   color: hsl(0, 0%, 100%);
   position: absolute;
   left: 25%;
   top: 345%;
   border-radius: 6px;
}
.texts-10
{
    text-align: center;
    color:  hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 700;
    font-family: Raleway;
}
.texts-11
{width: 40vw;
    text-align: center;
    color:  hsl(0, 0%, 100%);
    font-size: 14px;
    padding-left: 60px;
}
#move-2
{
    padding: 30px 0px 20px 0px;
}
#move
{
    margin-left: 130px;
    margin-top: -50px;
    padding: 7px 7px;
}
#sign-in input
{
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50%;
    height: 30px;
    margin-left: 55px;
}
#sign-in input:required
{
    color: hsl(0, 100%, 63%);
    
}
footer
{
    width: 100%;
    height: 230px;
    background-color: hsl(216, 53%, 9%);
    color:  hsl(0, 0%, 81%);
    padding-top: 200px;
    font-size: 18px;
    margin: 0;
}
#footer
{
    display: flex;
    width: 100%;
    
}
.f-box
{
    flex-direction: column;
    width: 750px;
   padding-left: 50px;
}
.f-box a
{
    text-decoration: none;
}
.texts-12
{
    color: hsl(0, 0%, 81%);
    text-decoration: none;
}
.texts-12:hover
{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.f-img
{
    width: 10%;
    color: hsl(0, 0%, 100%);
    margin-left: 10px;
}
.f-img:hover
{
    color: hsl(176, 68%, 64%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media(max-width: 375px)
{
    body 
    {
        margin-left: 15%;
        margin-right: auto;
    }
    #nav-bar
    {
        width: 100%;
    }
    #links
    {
        width: 50%;
    }
    #img-2
    {
        padding-left: 0%;
        width: 100%;
    }
    .button-1
    {
        left: 24%;
    }
    #containers
    {
       display: block;
    }
    #container-1
    {
        
        padding: 0%;
    }
    #container-2
    {
        
        padding: 0%;
    }
    #features
    {
        flex-direction: row;
        padding-top: 100px;
        padding-left: inherit;
    }
    #img-3
    {
        width: 100%;
        padding: 0%;
    }
    #section
    {
        padding-left: 0%;
      padding-top: 50px;
    }
    #texts-5
    {
        width: 100%;
    }
    .texts-6
    {
        width: 100%;
    }
#quotes
{
    padding-left: 0%;
    padding-top: 50px;
}
#teams
{
    display: block;
}
#testimonies
{
    display: block;
padding-top: 0px;
}
.container-2
{
    margin-top: 20px;
    margin-left: initial;
    width: 250px;
    height: auto;
}
#move2
{
    margin-top: 0px;
}
#sign-in
{
    top: 550%;
    width: 100%;
    height: 350px;
    left: 5%;
    z-index: 0;
}
.texts-11
{
    width: 70vw;
    padding-left: 15%;
    font-size: 20px;
}
#sign-in input 
{
width: 80%;
margin-left: 35px;
}
#move-2
{
    padding-top: 10px;
}
#move
{
margin-left: inherit;
margin-top: auto;
}
#footer
{
    display: block;
   
}
footer 
{
    height: auto;
}
footer a 
{
    text-decoration: none;
}
.f-box
{
    width: 100%;
}
#shfit2
{
    line-height: 25px;
    width: 80vw;
}
#shfit
{
    margin-left: 70%;
}
.f-img
{
    
    margin-left: 15px;
}
}
